<a href="https://colab.research.google.com/github/JyothsnaGH/PythonforFinance/blob/main/HW01_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW 01

### Q1. Write a program to input your age and print whether you are more than or less than a billion seconds old.

In [1]:
## Enter answer here.
age = int(input("Enter your age: "))

# Calculate age in seconds
age_in_seconds = age * 365 * 24 * 60 * 60

# Check if age is more or less than a billion seconds
if age_in_seconds > 1000000000:
    print("You are more than a billion seconds old.")
else:
    print("You are less than a billion seconds old.")

Enter your age: 25
You are less than a billion seconds old.

### Q2. Create a list with 10 names. Print each name with a Good morning greeting with the name using a conditional loop.

For example

`name = ['Ashley', 'Brianna', 'Chetan', 'David', 'Eoin', 'Francois', 'Gemma', 'Hameed', 'Ishaan', 'Joanna']`

Outputs will be 'Good morning, Ashley', 'Good morning, Brianna', and so on.

In [2]:
## Enter answer here.
names = ['Ashley', 'Brianna', 'Chetan', 'David', 'Eoin', 'Francois', 'Gemma', 'Hameed', 'Ishaan', 'Joanna']

for name in names:
    print("Good morning, " + name)

Good morning, Ashley
Good morning, Brianna
Good morning, Chetan
Good morning, David
Good morning, Eoin
Good morning, Francois
Good morning, Gemma
Good morning, Hameed
Good morning, Ishaan
Good morning, Joanna

### Q3. Create a list of 15 numbers. Print only those numbers that are divisible by 2.

In [3]:
## Enter answer here.
num_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

for num in num_list:
    if num%2 == 0:
        print(num)

2
4
6
8
10
12
14

### Q4. Print the squared numbers of a list containing at least 10 numbers with a mix of float, integer, and negative numbers. Use the longer method as well as list comprehension.

You can either generate your own list of 10 numbers or find use a random number generator.

In [17]:
## Enter answer here.

nums = [0,-1.25,15.86,-25,3,-4.6,8,10,-12,1.5,30]
method1_squares = []

for i in nums:
    method1_squares.append(i**2)

print(method1_squares)

## Now method 2
method2_squares = []

method2_squares=[i**2 for i in nums]
print(method2_squares)

[0, 1.5625, 251.53959999999998, 625, 9, 21.159999999999997, 64, 100, 144, 2.25, 900]
[0, 1.5625, 251.53959999999998, 625, 9, 21.159999999999997, 64, 100, 144, 2.25, 900]

### Q5. Write a program to print a year if it is a leap year.

In [4]:
year = int(input())

if year%4 == 0:
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2000
2000 is a leap year

### Q6. Use list comprehensions to print all names in a list in upper case.

In [19]:
names = ['Vasion', 'Olivia', 'Michael', 'Madison', 'Jack', 'Kevin', 'Dillon', 'Rachel', 'Kelly', 'Olivia']
uppercase_names = [name.upper() for name in names]
print(uppercase_names)

['VASION', 'OLIVIA', 'MICHAEL', 'MADISON', 'JACK', 'KEVIN', 'DILLON', 'RACHEL', 'KELLY', 'OLIVIA']

### Q7. Question on NUMPY arrays:

a. Create a numpy array called `original` with 100 random numbers. What is the largest number, smallest number, max, min, median, and standard deviation of your array? Print them.

HINT: use `np.random.uniform()`. Check online for the correct syntax. `np.random.rand(100)` will give you 100 random numbers of uniform distribution with mean 0 and standard deviation of 1, while we want a mix of larger numbers/integers.

b. Now create an array called `orig_sqrt` which contains the square roots of the numbers in the original array.

### Q8.  Converting 1D arrays into 2D arrays.

a. Convert your original array of 100 random numbers into a 2-dimensional array called `mat_array` with 20 rows and 5 columns. Print this array.

b. What is the mean of every column in `mat_array`?

c. What is the sum of every row? Create a list of 20 elements that contains the sum of every row in `mat_array`.

d. Create the transpose of `mat_array` and call it `transpose_array`. What are the dimensions of this array now? Again, find the mean of each column and the sum of each row.

### Q9. Array slicing:

a. create a new array which contains the 3rd-10th rows and all columns of `mat_array`. Print.

b. Print a new array which contains the the last 5 rows and the last 2 columns of `mat_array`. What is the dimension of this array?

c. Print a new array which contains the first 3 rows and last 10 columns of `transpose_array`.

In [ ]:
# Write your answer here. Feel free to break your answer into different blocks of code rather than using just this one cell. Label your answer neatly.
import numpy as np

# Q7
# Create a numpy array called original with 100 random numbers.
original = np.random.uniform(0,100,100)
# original = np.random.randint(0,100,100)

print('The largest number:',np.max(original))
print('\n\nThe smallest number:',np.min(original))
print('\n\nThe median:',np.median(original))
print('\n\nThe standard deviation:',np.std(original))

orig_sqrt = np.sqrt(original)

## Question 8: Answer

In [56]:
# Convert your original array of 100 random numbers into a 2-dimensional array called mat_array with 20 rows and 5 columns.

mat_array = original.reshape(20, 5)
mat_array

column_means = np.mean(mat_array, axis=0)
row_sums = np.mean(mat_array, axis=1)

Trans_mat = mat_array.T
Trans_col_means = np.mean(Trans_mat, axis=0)
Trans_row_sums = np.sum(Trans_mat, axis=1)
Trans_mat.shape

(5, 20)

## Question 9 Answer

In [58]:
array_9a = mat_array[2:10,:]
array_9b = mat_array[-5:,-2:]
array_9b.shape
array_9c = Trans_mat[0:3,-10:]

array([[34.06419947, 67.27247599, 28.44143649, 58.22933462, 69.75619101,
        66.19866337, 79.37458614, 68.46494771, 26.21764091, 56.94660127],
       [15.61212054, 42.00579421, 65.17197899, 71.06209716, 55.79209904,
        63.97153074, 93.62362779, 95.51306852, 14.13331718, 86.61527524],
       [44.41514114, 76.30819634, 86.28114105, 95.95442073, 92.24885956,
        27.14291685,  9.35866432, 61.83062447, 18.55699884, 14.77308166]])

### Q10. Assume you are inviting 15 friends to your party. You guest list has the following dietary preference.

`diet = ['vegetarian', 'pescetarian', 'vegetarian', 'omnivore', 'pescetarian', 'keto', 'keto', 'vegan', 'omnivore', 'omnivore', 'vegan', 'omnivore', 'keto', 'vegetarian', 'vegan']`

Their ages are as follows:

`age = [21, 20, 19, 25, 27, 18, 23, 25, 19, 22, 20, 20, 23, 21, 24]`

Create a list called `menu` which will contain 'veg. fried rice with whiskey' for vegans and vegetarians aged 21 and above,  'veg. fried rice with mocktail' for vegans and vegetarians aged below 21. Follow the same logic and assign fish and white wine to pescetarians of legal age (and fish with mocktail to those below 21). Keto and omnivore guests above 21 will have 'steak and red wine'. Complete the series with the appropriate drink for underage guests.

In [13]:
# Write your answer here.
import numpy as np

diet = ['vegetarian', 'pescetarian', 'vegetarian', 'omnivore', 'pescetarian', 'keto', 'keto', 'vegan', 'omnivore', 'omnivore', 'vegan', 'omnivore', 'keto', 'vegetarian', 'vegan']
age = [21, 20, 19, 25, 27, 18, 23, 25, 19, 22, 20, 20, 23, 21, 24]
menu=[]

for i in range(len(diet)):
    if diet[i] == 'vegetarian' or diet[i] =='vegan' and age[i] >= 21:
        menu.append('veg. fried rice with whiskey')
    elif diet[i] == 'pescetarian' and age[i] < 21:
        menu.append('fish with mocktail')
    elif diet[i] == 'pescetarian' and age[i] >= 21:
        menu.append('fish and white wine')
    elif diet[i] == 'omnivore' or diet[i] =='keto' and age[i] < 21:
        menu.append('steak with mocktail')
    elif diet[i] == 'omnivore' or diet[i] =='keto' and age[i] >= 21:
        menu.append('steak and red wine')

print(menu)

['veg. fried rice with whiskey', 'fish with mocktail', 'veg. fried rice with whiskey', 'steak with mocktail', 'fish and white wine', 'steak with mocktail', 'steak and red wine', 'veg. fried rice with whiskey', 'steak with mocktail', 'steak with mocktail', 'steak with mocktail', 'steak and red wine', 'veg. fried rice with whiskey', 'veg. fried rice with whiskey']