<a href="https://colab.research.google.com/github/JyothsnaGH/PythonforFinance/blob/main/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Last couple of features of lists before we proceed to conditional statements

In [17]:
# range() is a function that generates a sequence of numbers

nums = list(range(5))
print(nums)

nums1 = list(range(5,16))
print("\nThis is the second list", nums1)

nums2 = list(range(0,100,10))
print("\nThis is the third list", nums2)

[0, 1, 2, 3, 4]

This is the second list [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

This is the third list [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### Slicing Lists

In [27]:
nums = list(range(0,100,5))
print("Original list: ", nums)
print('\nFirst 3 elements of list:', nums[0:3]) # print 0,1,2 index. Upto 3, not including 3.
print('\nEverything 4th element onwards:', nums[4:])
print('\nLast item of list:', nums[-1])
print('\nBackwards list smun:', nums[::-1])
print('\nFirst up till 5th element with step-size 2:', nums[1:5:2])

Original list:  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

First 3 elements of list: [0, 5, 10]

Everything 4th element onwards: [20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

Last item of list: 95

Backwards list smun: [95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 0]

First up till 5th element with step-size 2: [5, 15]

## Conditional Statements, Looping

In [ ]:
'''The BDFL (Benevolent Dictator for Life) has a good sense of humor. Each package that you install needs to be imported before you can use it.
# Look what happens when you import a package called 'this'. It prints the Zen of Python - a rulebook for writing IF statements'''

import this

## Let us start with IF loops.

Before that, we need to understand Indentation in Python

Indentation has a very specific role in Python and is important!

It is used as alternative to parenthesis, and getting it wrong will cause errors.
IF Statements and Indentation
- The syntax for control structures in Python use _colons_ and _indentation_.

In [8]:
y = -2
x = 10
if x > 0:
    print ('x is strictly positive')
    print (x)
# print ('Finished.', x, y)

if y < 0:
    print ('y is strictly negative, its value is: ', y)
    print (y)

x is strictly positive
10
y is strictly negative, its value is:  -2
-2

In [11]:
print("What is the temperature outside?")
temperature = int(input())

if temperature < -10 or temperature > 30:
    print("Extreme weather of", temperature, "degrees Celsius8")

print("What is the price of this item?")
value = int(input())

if not value > 10:
    print("value not greater than 10")

print("What is your age?")
age = int(input())

print("What country do you belong to?")
country = input()

if int(age) >= 18 and country == "Germany":
    print("You may drink alcohol")

What is the temperature outside?
25
What is the price of this item?
15
What is your age?
25
What country do you belong to?
USA

## Conditional Statements

- `if` statemenet enable logic.
- `elif` give additional conditions.
- `else` gives what to do if other conditions are not met.

In [ ]:
x = 1
y = 0
if x > 0:
    print ('x is greater than 0')
    if y > 0:
        print ('& y is also greater than 0')
    elif y<0:
        print ('& y is less than 0')
    else:
        print ('& y is equal to 0')
print ("x: ",x)
print ('Finished.')

x is greater than 0
& y is equal to 0
x:  1
Finished.

In [40]:
purchase = float(input("Price at which you purchased bitcoin: "))
current = float (input ("Current price of bitcoin: "))

if current < purchase*1.2 and current >= purchase:
  print("Consider holding on a bit longer as your profit is only ", current - purchase,  "$ per bitcoin.")
elif current >= purchase*1.2:
  print("Worth selling as you will make", current - purchase, "$ per bitcoin.")
else:
  print('Not worth selling right now. Your loss is: $', current - purchase, ' per bitcoin.')

Price at which you have purchased bitcoin: 500
Current price of the bitcoin: 600
Worth selling as you will make 100.0 $ per bitcoin.

# Try printing each of these. Play around with the value of x

In [ ]:
x = 4
x != 5
x > 0
x==5

False

## Python Conditionals (Alt Syntax)

In [ ]:
x=0
z = 5 if x > 0 else 0
print(z)

In [ ]:
# This is a form of if statement called ternary conditional operator
x=1
#The first value is the value if the conditional is false
z=(0, 5)[x>0]
print(z)

## FOR Statement

Enables us to iterate over contents of lists.

In [41]:
#Here we are iterating on lists.
sum=0
for ad in [10, 2, 36]:
    sum+=ad    #This is short hand for sum = sum+ad
    print(sum)

for country in ['England', 'Spain', 'India']:
    print(country)

10
12
48
England
Spain
India

In [ ]:
x=[0,1,2]
y=['a','b','c']
#Nested for loops
for a in x:
    for b in y:
        print(a,b)

In [43]:
products = ["banana", "apple", "squash"]

for item in products:
    print("Our best selling product this week is, " + item + "!")

Our best selling product this week is, banana!
Our best selling product this week is, apple!
Our best selling product this week is, squash!

In [49]:
# Print all negative numbers in a list

mylist = [2, 5, -3, 8, 1, -5, -8]
neglist = []
for i in mylist:
    if i < 0:
        neglist.append(i)
print(neglist)

[-3, -5, -8]

In [3]:
#Range is a built in function that can be passed to a for loop
#https://docs.python.org/3/library/functions.html#func-range
#Range accepts a number and a (start/stop/step) like the arrange command.
z=range(5)
print(z, type(z))
#Range
for i in z:
    print('Print five')
for i in range(4):
    print('Print four more')
for i in range(5,20,2):
    print('i: %d is the value' % (i))
    print(f'i:{i}  is the value' ) #This is an alternate way of embedding values in text.

range(0, 5) <class 'range'>
Print five
Print five
Print five
Print five
Print five
Print four more
Print four more
Print four more
Print four more
i: 5 is the value
i:5  is the value
i: 7 is the value
i:7  is the value
i: 9 is the value
i:9  is the value
i: 11 is the value
i:11  is the value
i: 13 is the value
i:13  is the value
i: 15 is the value
i:15  is the value
i: 17 is the value
i:17  is the value
i: 19 is the value
i:19  is the value

In [ ]:
#This is the long way of building lists.
L = []
for n in range(10):
    L.append(n ** 2)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#With list comprehension.
L=[n ** 2 for n in range(10)]
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Any actions are on left side, any conditionals on right side
[i for i in range(20) if i % 3 == 0]

[0, 3, 6, 9, 12, 15, 18]

### Multiple Interators
- Iterating on multiple values

In [ ]:
[(i, j) for i in range(2) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

### Set Comprehension
- Remember sets must have unique values.

In [ ]:
#We can change it to a setby just changing the brackets.
{n**2 for n in range(6)}

{0, 1, 4, 9, 16, 25}

### Dict Comprehension
- Remember sets must have unique values.

In [ ]:
#We can change it to a dictionary by just changing the brackets and adding a colon.
{n:n**2 for n in range(6)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## While Loops
- Performs a loop while a conditional is True.
- Doesn't auto-increment.

In [ ]:
# While loop is a very interesting
x = 1
sum=0
while x<10:
    print ("Printing x= %d sum= %d" % (x, sum)) #Note this alternate way of specufiy
    x += 1
    sum+=10

Printing x= 1 sum= 0
Printing x= 2 sum= 10
Printing x= 3 sum= 20
Printing x= 4 sum= 30
Printing x= 5 sum= 40
Printing x= 6 sum= 50
Printing x= 7 sum= 60
Printing x= 8 sum= 70
Printing x= 9 sum= 80

## Recoding Variables/Creating Features with `for/if`
- Often we want to recode data applying some type of conditional statement to each value of a series, list, or column of a data frame.
- [Regular Expressions](https://docs.python.org/3/howto/regex.html) can be useful in recoding

In [ ]:
#Titanic Preview Women and Children first

gender=['Female', 'Female','Female', 'Male', 'Male', 'Male' ]
age=[75, 45, 15, 1, 45, 4 ]
name = ['Ms. Sally White', 'Mrs. Susan King', 'Amanda Russ', 'Rev. John Smith', 'Johnny Cash', 'Pep Guardiola']
survived=[]
for i in range(len(gender)):
#This is encoding a simple model that women survived.
    if gender[i]=='Female':
        survived.append('Survived')
    else:
        survived.append('Died')
print(survived)

#BUT, we won't typically be using this type of recoding, so we aren't going to do a lot of exercises on it.

['Survived', 'Survived', 'Survived', 'Died', 'Died', 'Died']