<a href="https://colab.research.google.com/github/JyothsnaGH/PythonforFinance/blob/main/Week4_01_GroupBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise: GroupBy
Alcohol Consumption Exercise

### Introduction:

Thanks to: https://github.com/justmarkham for the dataset and materials.

Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

[link text](https://)### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv), and assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### What is the number of observations in the dataset?

In [ ]:
drinks.info() # for rows and columns
drinks.shape[0] # for rows
drinks.shape[1] # for columns

### Show me the names of all columns, and how the dataset is indexed.

In [ ]:
print('The column names are:',drinks.columns)
print('\n\nThe index:',drinks.index)

## How many continents are there?

In [ ]:
drinks.continent.unique()
drinks.continent.nunique()

In [ ]:
drinks.continent.value_counts().head()

### How much beer does the world drink on average?

In [ ]:
drinks['beer_servings'].mean()
drinks.beer_servings.mean()

### Class Exercise: How much spirit does the world drink in total? Hint: SUM

In [8]:
## Enter your answer here:

### Which country drinks the highest servings of wine?

Steps: Find the index location where wine_serving is highest. Next, locate the name of the country attached to this high wine consumption.

In [ ]:
print('highest servings of wine is located at row:',drinks['wine_servings'].idxmax())

print('\nThe country that drinks the highest amount of wine is:',drinks['country'][drinks['wine_servings'].idxmax()])

print('\nThe other features of France:\n',drinks.loc[drinks['wine_servings'].idxmax()])

In [ ]:
## Alternatively, sort drinks by highest wine servings
drinks.sort_values(by='wine_servings',ascending=False).head()

## Class Exercise: How much servings of wine is had by the country that drinks the most servings of spirit? Which country is it?


## We will now start grouping by a category to answer more complicated questions.

#### Which continent drinks the most beer on average? To answer this, we will GROUPBY continent and then find the average.

In [ ]:
# drinks.beer_servings.mean()

drinks.groupby('continent').beer_servings.mean()

In [ ]:
print('The continent that drinks the most beer:',drinks.groupby('continent').beer_servings.mean().idxmax())

drinks.groupby('continent').beer_servings.mean().sort_values(ascending=False)

The continent that drinks the most beer: EU

continent
EU    193.777778
SA    175.083333
OC     89.687500
AF     61.471698
AS     37.045455
Name: beer_servings, dtype: float64

## Class Exercise: Print the summary statistics for wine consumption for each continent.

In [ ]:
## Enter your answer here

### Print the mean alcohol consumption per continent for every column

In [ ]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Class Exercise: Print the median alcohol consumption per continent for every column

In [ ]:
## Enter your answer here

### Print the mean, min and max values for spirit consumption.

In [ ]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302